:host {
  display: block;
}

/* Remove browser default styles for input and textarea */
input:focus, textarea:focus {
  outline: none;
}

/* Tactical cursor blink */
input::placeholder, textarea::placeholder {
  animation: placeholderBlink 2s infinite;
}

@keyframes placeholderBlink {
  0%,
  100% {
    opacity: 0.4;
  }
  50% {
    opacity: 0.7;
  }
}
